<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="conjur-logo">
      <img src="/conjur-logo.png">
    </a>
    <h1>Hello World!</h1>
    <p>This is a sample Node application built by Circle-CI and deployed to Heroku.</p>
    <a type="button" class="btn btn-lg btn-default" href="/flash"><span class="glyphicon glyphicon-flash"></span> Getting Started with Node</a>
    <a type="button" class="btn btn-lg btn-primary" href="/download"><span class="glyphicon glyphicon-download"></span> Download</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    Sample test <a href="/sample_link" class="alert-link">Sample Link Text</a> tutorial.
  </div>
  <hr>
</div>


</body>
</html>
